/* Survey form */
    
    
    .required:after
    {
     
            content: '*'; /* Display the asterisk */
           
            margin-left: 5px; /* Adjust the margin to position the asterisk after the text */
      
        color:deeppink;
        
    }
